In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("dataset_Facebook.csv", sep = ";")
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [ ]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [ ]:
df.shape

(500, 19)

In [ ]:
# Create Subset
d1 = df.loc[1:3]
d2 = df.loc[4:6]

In [ ]:
# Merge Data
merge1 = pd.merge(d1,d2, how = "outer")
merge1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
1,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
2,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
3,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
4,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
5,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279

In [ ]:
merge2 = pd.merge(d1,d2, how = "left") # left will take all common and elements from left dataframe
merge2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
1,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
2,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777

In [ ]:
merge3 = pd.merge(d1, d2, how = "right")
merge3

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
1,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
2,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279

In [ ]:
merge4 = pd.merge(d1, d2, on = "Type", how = "inner")
merge4

,Page total likes_x,Type,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
0,139441,Status,2,12,3,10,0.0,10460,19057,1457,...,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
1,139441,Photo,3,12,3,3,0.0,2413,4373,177,...,671,410,580,6228,3200,396,19,325.0,49.0,393
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,...,481,265,364,15432,9328,379,3,249.0,27.0,279
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,...,671,410,580,6228,3200,396,19,325.0,49.0,393
4,139441,Photo,2,12,2,10,1.0,50128,87991,2211,...,481,265,364,15432,9328,379,3,249.0,27.0,279

In [ ]:
merge5 = pd.merge(d1, d2,  how = "cross")
merge5

,Page total likes_x,Type_x,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
0,139441,Status,2,12,3,10,0.0,10460,19057,1457,...,671,410,580,6228,3200,396,19,325.0,49.0,393
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,...,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
2,139441,Status,2,12,3,10,0.0,10460,19057,1457,...,481,265,364,15432,9328,379,3,249.0,27.0,279
3,139441,Photo,3,12,3,3,0.0,2413,4373,177,...,671,410,580,6228,3200,396,19,325.0,49.0,393
4,139441,Photo,3,12,3,3,0.0,2413,4373,177,...,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
5,139441,Photo,3,12,3,3,0.0,2413,4373,177,...,481,265,364,15432,9328,379,3,249.0,27.0,279
6,139441,Photo,2,12,2,10,1.0,50128,87991,2211,...,671,410,580,6228,3200,396,19,325.0,49.0,393
7,139441,Photo,2,12,2,10,1.0,50128,87991,2211,...,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
8,139441,Photo,2,12,2,10,1.0,50128,87991,2211,...,481,265,364,15432,9328,379,3,249.0,27.0,279

In [ ]:
# Sorting 
d3 = df.head(5)
d3.sort_values(by = "Category")
d3

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [ ]:
# 4.Transpose Operation
d3.transpose()

,0,1,2,3,4
Page total likes,139441,139441,139441,139441,139441
Type,Photo,Status,Photo,Photo,Photo
Category,2,2,3,2,2
Post Month,12,12,12,12,12
Post Weekday,4,3,3,2,2
Post Hour,3,10,3,10,3
Paid,0.0,0.0,0.0,1.0,0.0
Lifetime Post Total Reach,2752,10460,2413,50128,7244
Lifetime Post Total Impressions,5091,19057,4373,87991,13594
Lifetime Engaged Users,178,1457,177,2211,671
Lifetime Post Consumers,109,1361,113,790,410
Lifetime Post Consumptions,159,1674,154,1119,580
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396
comment,4,5,0,58,19
like,79.0,130.0,66.0,1572.0,325.0
share,17.0,29.0,14.0,147.0,49.0
Total Interactions,100,164,80,1777,393

In [ ]:
# 5. Shape Reshape Operation
d3.shape
d3.melt(id_vars = ["Type"])
d3.pivot(columns = ["Type"])

     Page total likes           Category        Post Month         \
Type            Photo    Status    Photo Status      Photo Status
0            139441.0       NaN      2.0    NaN       12.0    NaN
1                 NaN  139441.0      NaN    2.0        NaN   12.0
2            139441.0       NaN      3.0    NaN       12.0    NaN
3            139441.0       NaN      2.0    NaN       12.0    NaN
4            139441.0       NaN      2.0    NaN       12.0    NaN

     Post Weekday        Post Hour         ...  \
Type        Photo Status     Photo Status  ...
0             4.0    NaN       3.0    NaN  ...
1             NaN    3.0       NaN   10.0  ...
2             3.0    NaN       3.0    NaN  ...
3             2.0    NaN      10.0    NaN  ...
4             2.0    NaN       3.0    NaN  ...

     Lifetime People who have liked your Page and engaged with your post  \
Type                                                               Photo
0                                                 119.0
1                                                   NaN
2                                                 132.0
3                                                1386.0
4                                                 396.0

             comment           like         share        Total Interactions  \
Type  Status   Photo Status   Photo Status  Photo Status              Photo
0        NaN     4.0    NaN    79.0    NaN   17.0    NaN              100.0
1     1108.0     NaN    5.0     NaN  130.0    NaN   29.0                NaN
2        NaN     0.0    NaN    66.0    NaN   14.0    NaN               80.0
3        NaN    58.0    NaN  1572.0    NaN  147.0    NaN             1777.0
4        NaN    19.0    NaN   325.0    NaN   49.0    NaN              393.0


Type Status
0       NaN
1     164.0
2       NaN
3       NaN
4       NaN

[5 rows x 36 columns]